
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");


:root {
  --font-base:'lexend.'sans-serif;;
  --font-second-base:'inter.'sans-serif;
  --bg-color:
  --primary-color:
} --secondary-color:

.{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}